<h1><%= t('.title') %></h1>

<% if @payment_methods.empty? %>
    <h3><%= t('.no_payment_method_available') %></h3>
<% end %>

<% @payment_methods.each do |payment_method| %>
    <h3><%= link_to payment_method.name, [:user, payment_method] %></h3>
<% end %>