<h1>Recibo</h1>

<dl>
    <dt>Data de vencimento</dt>
    <dd><%= @receipt.due_date %></dd>
    <dt>Dato do pagamento</dt>
    <dd><%= @receipt.paid_date %></dd>
    <dt>Código de autorização</dt>
    <dd><%= @receipt.authorization_code %></dd>
</dl>